/* You can add global styles to this file, and also import other style files */
.advantages-header{
    color: #eb284f;
    font-size: 24px;
    font-family: 'Titillium Web', Lato, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-weight: 300;
}

.how-to-use-header{
    color: #4b6cb7;
    font-size: 18px;
    font-family: 'Titillium Web', Lato, 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-weight: 300;
}